<?xml version="1.0" encoding="utf-8"?>
<resources>
    <style name="Theme.App" parent="android:Theme.Material.NoActionBar">
        <item name="android:statusBarColor">{{ theme_color }}</item>
        <item name="android:navigationBarColor">{{ theme_color }}</item>
        <item name="android:windowBackground">{{ theme_color }}</item>
    </style>
</resources>
